@model ICollection<PizzeriaDelish.Models.Dish>

@{
    ViewData["Title"] = "Meny";
}
<div class="row">
    <div class="col-md-9">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Maträtt</th>
                        <th>&nbsp;</th>
                        <th>Pris</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Dish dish in Model)
                    {
                        <tr>
                            <td>
                                <p>@dish.Name</p>
                                <p>@dish.Description</p>
                            </td>
                            <td>
                                <a class="btn btn-link"
                                        asp-controller="Cart"
                                        asp-action="AddToCart"
                                        asp-route-dishId="@dish.DishId"
                                        data-ajax="true"
                                        data-ajax-mode="replace"
                                        data-ajax-update="#cartWrap"
                                        data-ajax-method="POST">
                                    <span class="glyphicon glyphicon-shopping-cart">&nbsp;</span>
                                </a>
                            </td>
                            <td>
                                @dish.Price
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3" id="cartWrap">
        @await Component.InvokeAsync("Cart")
    </div>
</div>
