@model ICollection<PizzeriaDelish.Models.Dish>

@{
    ViewData["Title"] = "Meny";
}
<div class="row">
    <div class="col-md-3">
        <div class="row">
            @foreach (Dish dish in Model)
            {
                <div class="col-md-4">
                    <p>@dish.Name</p>
                </div>
            }
        </div>
    </div>
    <div class="col-md-3">
        <p>information för sidan, cart el. dyl.</p>
    </div>
</div>
