@model List<CartItem>
@inject PizzeriaDelish.Services.CartService _cartService
@{
    ViewData["Title"] = "Beställ";
}

<h2>Granska din varukorg</h2>
<div class="container">

    <div class="row">
        <div class="col-md-8">
            <a asp-controller="Home"
               asp-action="Index"
               class="btn btn-default">
                Tillbaka till menyn
            </a>
            <a asp-controller="Checkout"
               asp-action="DeliveryDetails"
               class="btn btn-primary">
                Fortsätt
            </a>
        </div>
    </div>
</div>