@{
    ViewData["Title"] = "Orderbekräftelse";
}

<h2>Tack för din beställning!</h2>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>Vi börjar baka din pizza på studs!</p>
            <p><a asp-controller="Home" asp-action="Index">Tillbaka till startsidan</a></p>
        </div>
    </div>
</div>