@{
    ViewData["Title"] = "Betalning";
}

<h2>Betalning</h2>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <a asp-controller="Checkout"
               asp-action="PaymentChoice"
               asp-route-payByCard="false"
               class="btn btn-default">
                Betala kontant vid leverans
            </a>
            <a asp-controller="Checkout"
               asp-action="PaymentChoice"
               asp-route-payByCard="true"
               class="btn btn-default">
                Betala med kort
            </a>
        </div>
    </div>
</div>